
*.log
Saved/*
Saved/AutoScreenshot.png
Saved/Logs/SS.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E76A36D84881E6BB215E40834EEF9DD2/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-4F1BD9EE4E495B24D04082A0CF971614/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-4E7BF82A4FFFF532D7AF779E8FA44619/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-41D807E840C38C0196E7CE9F1DEAA8D1/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-41D807E840C38C0196E7CE9F1DEAA8D1/.DS_Store
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
Saved/Backup/SideScrollerCharacter_2019-12-07-10-34-20.uasset
Saved/Backup/T_A_Phase_hair_01_2019-11-04-22-08-50.uasset
Saved/Backup/ThirdPersonExampleMap_2019-12-03-22-28-49.umap
Saved/Backup/ThirdPersonExampleMap_2019-12-04-20-22-52.umap
Saved/Config/CrashReportClient/UE4CC-Windows-2E592D3F47DDC6C2FB7565909B3A9C68/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-2F9A75354243083607CE2597F14A0264/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-717994C14C442C481524F69710433F4F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7F1E4229465B6DF30F8C21B09785FB90/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A088F3524AFE97CFC31410AE3E9BA632/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/SS.log
Saved/Backup/SideScrollerCharacter_2019-12-03-22-24-07.uasset
Saved/Backup/SideScrollerCharacter_2019-11-05-17-06-18.uasset
Saved/AutoScreenshot.png
*.json
